*{
    margin: 0;
    padding: 0;
  }
    
    body{
     background-color: $color-gray-900;
     color: #ffffff;
     font-family: sans-serif, 'Poppins';
     box-sizing: border-box;
     width: 100%;
    }
    html{
      font-size: 63.5%;
      width: 100%;
      @include respond(tab-land){
        font-size: 56.9%;
      }
      @include respond(tab-port){
        font-size: 50%; //1rem = 8px 8/16
      }
      @include respond(phone){
        font-size: 40%; //1rem = 8px 8/16
      }
      @include respond(big-laptop){
        font-size: 75%;
      }
    }