.container{
    padding: 4rem;
    padding-top: 10rem;
    

    @include respond(phone){
        padding: 0;
        padding-top: 10rem;
    }
}

.popular-movies{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color-yellow-500;
    letter-spacing: 0.05em;
}