@import 'abstract/variable';

@import 'base/base';
@import 'base/typography.scss';
@import 'base/utility.scss';

@import 'component/navbar';

@import 'layout/card.scss';
@import 'layout/moviedetail.scss';

@import 'page/home'