@import 'abstract/variable';
@import 'abstract/mixin.scss';

@import 'base/base';
@import 'base/typography.scss';
@import 'base/utility.scss';

@import 'component/navbar';
@import "component/pagination.scss";

@import 'layout/card.scss';
@import 'layout/moviedetail.scss';

@import 'page/home'