@use '../abstract/variable.scss' as *;
@use '../abstract/mixin.scss' as *;

.navbar{
    width: 100%;
    padding: 2rem  0;
    border-bottom: .1rem solid $color-gray-800;
    position: fixed;
    z-index: 999999;


    @supports( -webkit-backdrop-filter: blur(10px)) or ( backdrop-filter: blur(10px)){
        -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0,0,0, .3) ;
      };
   

    &__search-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  

    &__app-detail{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 4rem;

        @include respond(phone){
            margin-left: 0;
        }
    }
    &-logo{
        width: 2.8rem;
        height: 2.8rem;
        margin-right: .4rem;
        color: black;
        font-size: 2rem !important;
    }

    &-list>nav{
        font-size: 1.6rem;
        
    }
    &-items{
       display: flex;

       @include respond(tab-port){
        display: block;
        margin: 50px 0;
        line-height: 30px;
       }
    }
    &-item{
        list-style: none;
        
    }
    &-item>a{
        &:visited,
        &:link{
            text-decoration: none ;
            margin-right: 2rem;
            color: $color-white;
        }

        &:hover{
            color: $color-gray-300;
        }
    }

    &__search{
        margin-right: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &-output{
            position: absolute;
            background-color: $color-gray-800;
            left: 0;
            top: 100%;
            width: 100%;
            font-size: 1.2rem;

            @include respond(tab-port){
            width: 100%;
             right: 0%;
             top: 100%;
            }

            &-list{
                list-style: none;
                padding: 1rem;
            }
            &-link{
                &,
                &:visited,
                &:link{
                    color: $color-white;
                    text-decoration: none;
                }

                &:hover{
                    color: $color-yellow-500;
                }
            }
        }
    }
    &__input{
        width: 80%;
        border: none;
        outline: none;
        font-size: 1.6rem;
        border-radius: 20rem;
        margin-right: 2rem;
        padding: .6rem 2.5rem;
        color: $color-white;
        background-color: inherit;

    }

    &__form{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-gray-800;
        margin-right: 1rem;
        flex-direction: row-reverse;
        position: relative;
    }

    &__search-list{
        @include respond(tab-port){
            position: fixed;
           width: 40%;
           height: 100%;
           background: #2f3640;
           top: 0;
           text-align: center;
           right: -100%;
           transition: all .5s;
           display: block;

           @supports( -webkit-backdrop-filter: blur(10px)) or ( backdrop-filter: blur(10px)){
            -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba(0,0,0, .3) ;
          };
           }
           @include respond(phone){
            position: fixed;
           width: 80%;
           height: 100%;
           background: #2f3640;
           top: 0;
           text-align: center;
           right: -100%;
           transition: all .5s;
           display: block;

           @supports( -webkit-backdrop-filter: blur(10px)) or ( backdrop-filter: blur(10px)){
            -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba(0,0,0, .3) ;
          };
           }
    }
     
}
.app-name-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;

    &:hover{
        color: $color-gray-300;
    }
}
.user{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.search-icon{
    height: 2.9rem;
    width: 10%;
    z-index: 1;
    color: white;
    align-self: flex-end;
    padding: 10px;
}

.menu{
    display: none;

    @include respond(tab-port){
        display: block;
        background: white;
        padding: .8rem;
        border-radius: 50%;
    }
}

.show{
    right: 0;
}
#close{
    display: none;
    @include respond(tab-port){
        display: block;
    }

}

.cancel{
    position: absolute;
    top: 4%;
    right: 80%;
    background: white;
    z-index: 2;
    padding: .8rem;
    border-radius: 50%;
}
