.card{
    &__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @include respond(tab-port){
            grid-template-columns: repeat(3, 1fr); 
        }
        @include respond(phone){
            grid-template-columns: repeat(2, 1fr);
            gap: .5rem; 
        }
    }
    &__content{
        margin-top: 3rem;
    }
    &__image{
        width: 90%;
        height: 35rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        transition: all .4s ease-in;
        @include respond(big-laptop){
            height: 70rem;
            width: 100%;
        }

       

        &:hover{
            transform: scale(1.1);
        }
    }
    &__discription{
        margin-top: .6rem;
        font-size: 1.6rem;
        font-weight: 300;
        text-decoration: none;
    }
    &__link{
        &:visited,
        &:link{
           color: $color-white;
           text-decoration: none;
        }
        &:hover{
           color: $color-gray-400;
        }
    }

}

.data{
    display: flex;
    align-items: center;
    color: $color-gray-300;
    font-size: 1.4rem;

    &__discription{
        color: $color-gray-300;
        width: 80%;
    }
}