.movie-info{
    display: flex;
    padding: 5rem 0;
    border-bottom: .1rem solid $color-gray-800;

    @include respond(phone){
        display: block;
    }

    &__image{
        width: 70%;
        height: 70rem;
        flex: 0 0 45%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .4s;
        background-position: center center;

        @include respond(phone){
            width: 100%;
            flex: 0 0 100%;
        }

       
    }
    &__details{
        margin-left: 8rem;
        flex: 1;
        font-size: 1.4rem;
        color: $color-gray-300;
       
        @include respond(phone){
            margin-left: 0 ;
            width: 100%;
        }
    }
    &__header{
        margin-bottom: 2.5rem;
    }
    &__header-name{
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }
    &__header-name-detail{
        font-size: 1.4rem;
        font-weight: 100;
        color: $color-gray-300;
    }
    &__detail{
        font-size: 1.2rem;
    }
}
.feature{
    margin: 6rem 0;

    &__header{
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        width: 25rem;
        font-weight: 100;
        

        &-header{
          width: 300;
          font-size: 1.3rem;
          margin-bottom: .3rem ;
        }
    }
}
.thriller{
        text-decoration: none;
        color: black;
        transition: all .2s;
        cursor: pointer;
}
.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    background-color: $color-yellow-500;
    font-size: 1.4rem;
    font-weight: 600;
    box-shadow: 0 1.5rem 4rem rgba($color-gray-800,.2);
    border-radius: .3rem;
    width: 20%;
    &-icon{
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
    }
    &:hover{
        background-color: darken($color-yellow-500 , 20%) 
    }
   
}



.play-videoframe{
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2400;
    transition: all .3s;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    display: none;
    transform: translate(-50%, -50%);

    @supports( -webkit-backdrop-filter: blur(10px)) or ( backdrop-filter: blur(10px)){
        -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0,0,0, .3) ;
      }
}

.play-videoframe-show {
    width: 80vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2400;
    transition: all .3s;
    background-color: black;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);

    @supports( -webkit-backdrop-filter: blur(10px)) or ( backdrop-filter: blur(10px)){
        -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0,0,0, .3) ;
      }

      @include respond(tab-port){
        height: 50vh;
    }
}

.play-cast{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    @include respond(tab-port){
        grid-template-columns: repeat(3, 1fr); 
    }
    @include respond(phone){
        grid-template-columns: repeat(1, 1fr); 
    }
     
    &__box{
        width: 100%;
        height: 50rem;

        @include respond(big-laptop){
            height: 60rem;
        }

        @include respond(laptop){
            height: 60rem;
        }

        &:hover{
            .boxhover{
                visibility: visible;
                margin-top: -11.5rem;
            }
        }
    }
    &__image{
        width: 100%;
        height: 80%;
        border-radius: .3rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        @include respond(big-laptop){
            height: 100%;
        }

        @include respond(laptop){
            height: 100%;
        }
    }
    &__header{
        font-size: 2.5rem;
        font-weight: 400;
    }
    &__detail{
        margin-top: 1rem;
    }
    &__name{
        font-size: 1.7rem;
        color: $color-gray-300;
    }
    &__nameR{
        font-size: 2rem;
    }

}
.image-cast{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include respond(tab-port){
        grid-template-columns: repeat(3, 1fr); 
    }
    @include respond(phone){
        grid-template-columns: repeat(1, 1fr); 
    }
    &__box{
        width: 90%;
        height: 40rem;
    }
    &__image{
        width: 100%;
        height: 800%;
    }
}
