@use 'sass:color';
@use '../abstract/mixin.scss' as *;
@use '../abstract/variable.scss' as *;

.movie-info{
    display: flex;
    padding: 5rem 0;
    border-bottom: .1rem solid $color-gray-800;

    @include respond(phone){
        display: block;
    }

    &__image{
        width: 70%;
        height: 70rem;
        flex: 0 0 45%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all .4s;
        background-position: center center;

        @include respond(phone){
            width: 100%;
            flex: 0 0 100%;
        }

       
    }
    &__details{
        margin-left: 8rem;
        flex: 1;
        font-size: 1.4rem;
        color: $color-gray-300;
       
        @include respond(phone){
            margin-left: 0 ;
            width: 100%;
        }
    }
    &__header{
        margin-bottom: 2.5rem;
    }
    &__header-name{
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }
    &__header-name-detail{
        font-size: 1.4rem;
        font-weight: 100;
        color: $color-gray-300;
    }
    &__detail{
        font-size: 1.2rem;
    }
}
.feature{
    margin: 6rem 0;

    &__header{
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    &__info{
        display: flex;
        justify-content: space-between;
        width: 25rem;
        font-weight: 100;
        

        &-header{
          width: 300;
          font-size: 1.3rem;
          margin-bottom: .3rem ;
        }
    }
}
.thriller{
        text-decoration: none;
        color: black;
        transition: all .2s;
        cursor: pointer;
}
.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    background-color: $color-yellow-500;
    font-size: 1.4rem;
    font-weight: 600;
    box-shadow: 0 1.5rem 4rem rgba($color-gray-800,.2);
    border-radius: .3rem;
    width: 20%;
    &-icon{
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
    }
    &:hover{
        background-color: color.scale($color-yellow-500 , $lightness: 20%) 
    }
   
}



.play-videoframe{

    opacity: 0;
    visibility: hidden;
    display: none;
    transform: translate(-50%, -50%);

      iframe {
        width: 100%;
        height: 100%;
    }

    &-cancel {
        width: 20px;
        height: 20px;
        stroke: white;
        position: absolute;
        top: 20%;
    }
}

.play-videoframe-show {
    width: 50vw;
    height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2400;
    transition: all .3s;
    background-color: black;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);

    @supports( -webkit-backdrop-filter: blur(10px)) or ( backdrop-filter: blur(10px)){
        -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0,0,0, .3) ;
      }

      @include respond(tab-port){
        height: 50vh;
    }

    .stop {
        position: absolute;
        top: 5%;
        right: 7%;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.play-cast{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    @include respond(tab-port){
        grid-template-columns: repeat(3, 1fr); 
    }
    @include respond(phone){
        grid-template-columns: repeat(1, 1fr); 
    }
     
    &__box{
        width: 100%;
        height: 50rem;

        @include respond(big-laptop){
            height: 60rem;
        }

        @include respond(laptop){
            height: 60rem;
        }

        &:hover{
            .boxhover{
                visibility: visible;
                margin-top: -11.5rem;
            }
        }
    }
    &__image{
        width: 100%;
        height: 80%;
        border-radius: .3rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;

        @include respond(big-laptop){
            height: 100%;
        }

        @include respond(laptop){
            height: 100%;
        }
    }
    &__header{
        font-size: 2.5rem;
        font-weight: 400;
    }
    &__detail{
        margin-top: 1rem;
    }
    &__name{
        font-size: 1.7rem;
        color: $color-gray-300;
    }
    &__nameR{
        font-size: 2rem;
    }

}
.image-cast{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include respond(tab-port){
        grid-template-columns: repeat(3, 1fr); 
    }
    @include respond(phone){
        grid-template-columns: repeat(1, 1fr); 
    }
    &__box{
        width: 90%;
        height: 40rem;
    }
    &__image{
        width: 100%;
        height: 800%;
    }
}

.chat-bot {
    width: 20%;
    position: sticky;
    bottom: 10%;
    left: 100%;
}

.recomender-window {
    padding: 1em;
    border: 1px solid gray;
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: 0px;
    background-color: $color-gray-800;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
}

.recomender-form {
    display: flex;
    align-items: center;
}

.recomender-input {
    width: 70%;
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
}

.recomender-button {
    width: 30%;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.white-text {
    color: white;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }